
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pets-primary: mat-palette($mat-indigo);
$pets-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pets-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pets-theme: mat-light-theme((
  color: (
    primary: $pets-primary,
    accent: $pets-accent,
    warn: $pets-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pets-theme);


/* You can add global styles to this file, and also import other style files */




$primary-color: #154918;
$secondary-color: #4d342c;
$tertiary-color: #0a320c;
$accent-color: #FF6D00;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

thirty-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.toolbar {
  display: flex; 
  justify-content: space-between;
  background-color: $tertiary-color;
  
}

.subtitle {
  font-size: 75%;
}

mat-sidenav {
  width: auto;
  background-color: $secondary-color !important;
  border-radius: 0px 8px 8px 0px;
  text-align: center;
}

.content-spread {
  display: flex;
  justify-content: space-between;
}

.accent {
  color: $accent-color;
}

.mat-sidenav-container {
  flex: 1;
  background-color: $primary-color;
}

.pets-containers {
  display: flex;
  padding: 8px;
  justify-content: space-around;

  .pets-list {
    width: 49%;
  }

  .pets-detail {
    width: 49%;
  }

  .mat-card-dark {
    background-color: grey;
  }
  .mat-card-light {
    background-color: whitesmoke;
    border-radius: 10px;
  }
}