<mat-card class="mat-card-light"> 
    <mat-card-header style="display: flex; justify-content: space-between;">
      <mat-card-title class="accent">
        <span *ngIf="petForm.value.id !== null; else elseBlock">
          Editing Pet
        </span>
        <ng-template #elseBlock>
          Create Pet
        </ng-template>
      </mat-card-title>
      
    </mat-card-header>
  <form [formGroup]="petForm" (ngSubmit)="saved.emit(petForm.value)">
    <mat-card-content>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="string">
      </mat-form-field>
      <br>

      <section>
        <mat-button-toggle-group style="width:100%;" formControlName="species">
          <mat-button-toggle style="width:50%;" value="Dog">Dog</mat-button-toggle>
          <mat-button-toggle style="width:50%;" value="Cat">Cat</mat-button-toggle>
        </mat-button-toggle-group>
      </section>
      <br>

      <mat-form-field>
        <mat-label>Breed</mat-label>
        <input matInput formControlName="breed" type="string">
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label style="color: {{petForm.value.furColor}}">Color</mat-label>
        <input matInput formControlName="furColor" type="string">
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Weight</mat-label>
        <input matInput formControlName="weight" type="number">
      </mat-form-field>
      <br>

    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: space-between;">
      <button [disabled]="petForm.invalid" type="submit" mat-button color="primary">Save</button>
      <button type="button" mat-button (click)="cancelled.emit();$event.stopImmediatePropagation();cancel();">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>